<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
  </head>
<body>
    <header >
      <div class="title">
        <h1>Pokédex</h1>
      </div>
      <div>
        <nav class="navigation">
            
          <ul>
            <li><a href="#">Liste</a> </li>
            <li><a href="#">Types</a> </li>
          </ul>
        </nav>
      </div>
    </header> 